body{
background-color:#555dd9;
color:#ffffff;
text-align:center;

}
header{
background-color:#1e6b19;
border-color:#ffffff;
border-width:10px;
}
footer{
background-color:#1e6b19;
color:#ffffff; 
padding:10px;
}
.Terror {
  font-family: "lucida handwriting", cursive;
}
.chill {
  font-family: "ariel",sans-serif;
}
/* unvisited link */
a:link {
  color: #aca1ff;
}

/* visited link */
a:visited {
  color: #aca1ff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}
