body{
background-color:#555dd9;
color:#ffffff;
text-align:center;
}
header{
background-color:#1e6b19;
border-color:#ffffff;
border-width:10px;
}
footer{
background-color:#1e6b19;
color:#eecfff; 
padding:10px;
}
