body{
background-color:#555dd9;
color:#ffffff;
text-align:center;
}
header{
background-color:#1e6b19;
border-color:#ffffff;
<<<<<<< HEAD
border-bottom-width:10px;
}
=======
}
>>>>>>> 0d41a3e93086ffef84c1a6f5d188946471107c28
